jb-number-input.terminal-style {
  --jb-number-input-button-width: 2rem;
  --jb-number-input-increase-button-color: var(--jb-focus-color);
  --jb-number-input-increase-button-color-hover: var(--jb-primary-hover);
  --jb-number-input-decrease-button-color: var(--jb-focus-color);
  --jb-number-input-decrease-button-color-hover: #ff5f56;
  --jb-number-input-increase-button-bg: var(--jb-surface-secondary);
  --jb-number-input-decrease-button-bg: var(--jb-surface-secondary);
  --jb-number-input-increase-button-border: 1px solid var(--jb-border-color);
  --jb-number-input-decrease-button-border: 1px solid var(--jb-border-color);
  --jb-number-input-focus-ring-color: var(--jb-focus-color);
}
